[submodule "node_modules/mime"]
	path = node_modules/mime
	url = git://github.com/bentomas/node-mime.git
[submodule "node_modules/qs"]
	path = node_modules/qs
	url = git://github.com/visionmedia/node-querystring.git
[submodule "node_modules/connect"]
	path = node_modules/connect
	url = git://github.com/senchalabs/connect.git
[submodule "node_modules/quip"]
	path = node_modules/quip
	url = git://github.com/caolan/quip.git
[submodule "node_modules/jade"]
	path = node_modules/jade
	url = git://github.com/visionmedia/jade.git
[submodule "node_modules/markdown"]
	path = node_modules/markdown
	url = git://github.com/gmosx/markdown.git
