module.exports = {
    dir: {//dirs ending with '/', __dirname is the full path of config.js and '.' is the relative path to `pwd` of command line.
        source: __dirname + "/tmd-source/"
      , template: __dirname + "/tmd-templates/"
      , output: __dirname + "/tmd-output/"
    }
  , locals: {//default variables in templates
    }
};
